@model IEnumerable<SC_MVC.Models.Work>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="SC-page" class="page-wrapper">

    <section class="intro" id="SC-intro">
        <header role="banner">
            <h1>Suzanne Collins</h1>
            <h2>Works</h2>
        </header>



        <div class="preamble" id="SC-preamble" role="article">
            <h3>The Long-Awaited Prequel</h3>
            <h3>Available MAY 19th, 2020!</h3>
            <div>
                <p>
                    <img sizes="(min-width: 530px) 33vw, (min-width: 940px) 25vw, 100vw" src="~/Content/images/ballad_of_songbirds_and_snakes_cover_3d-x_small.jpg" srcset="~/Content/images/ballad_of_songbirds_and_snakes_cover_3d-small.jpg 480w, ~/Content/images/ballad_of_songbirds_and_snakes_cover_3d-x_small.jpg 320w" />
                </p>
            </div>
        </div>
    </section>

    <div class="main supporting" id="SC-supporting" role="main">

        <div class="participation" id="SC-others" role="article">
            <h3>WHEN CHARLIE MCBUTTON LOST POWER</h3>
            <img sizes="(min-width: 530px) 33vw, (min-width: 750px) 25vw, 100vw" src="~/Content/images/Book_cover--cmc-x_small.jpg" srcset="~/Content/images/Book_cover--cmc-small.jpg 480w, ~/Content/images/Book_cover--cmc-x_small.jpg 320w">
            <p>When a thunderstorm knocks out the electricity, Charlie McButton's whole tech empire comes tumbling down. He needs batteries–FAST. But the only batteries are inside his baby sister's beloved talking doll. Will he resort to desperate measures, and cause his sister to have a meltdown of her own? Or will he snap out of his computer craze long enough to realize sisters can be fun, even without batteries? (Penguin Group, 2005)</p>
        </div>


        <div class="benefits" id="SC-participation" role="article">
            <h3>YEAR OF THE JUNGLE</h3>
            <img sizes="(min-width: 530px) 33vw, (min-width: 750px) 25vw, 100vw" src="~/Content/images/YOTJ_Cover-x_small.jpg" srcset="~/Content/images/YOTJ_Cover-small.jpg 480w, ~/Content/images/YOTJ_Cover-x_small.jpg 320w">
            <p>When Suzy's father is called to war in a faraway jungle, she struggles to deal with his absence.(Scholastic Press, 2013)</p>
        </div>

        <div class="seperate" id="SC-Hunger" role="article">
            <h3>The Hunger Games Trilogy</h3>
        </div>

        <div class="explanation" id="SC-Hunger1" role="article">
            <h3>THE HUNGER GAMES</h3>
            <img sizes="(min-width: 530px) 33vw, (min-width: 750px) 25vw, 100vw" src="~/Content/images/Hg--jacket-x_small.jpg" srcset="~/Content/images/Hg--jacket-small.jpg 480w, ~/Content/images/Hg--jacket-x_small.jpg 320w">
            <p>Katniss is a 16-year-old girl living with her mother and younger sister in the poorest district of Panem, the remains of what used be North America. Long ago the districts waged war on the Capitol and were defeated. As part of the surrender terms, each district agreed to send one boy and one girl to appear in an annual televised event called, "The Hunger Games." The terrain, rules, and level of audience participation may change but one thing is constant: kill or be killed. When her sister is chosen by lottery, Katniss steps up to go in her place.(Scholastic Press, 2008)</p>
        </div>

        <div class="participation" id="SC-Hunger2" role="article">
            <h3>CATCHING FIRE</h3>
            <img sizes="(min-width: 530px) 33vw, (min-width: 750px) 25vw, 100vw" src="~/Content/images/Catching_fire_c-x_small.jpg" srcset="~/Content/images/Catching_fire_c-small.jpg 480w, ~/Content/images/Catching_fire_c-x_small.jpg 320w">
            <p>Much to her shock, Katniss has fueled an unrest she's afraid she cannot stop. And what scares her more is that she's not entirely convinced she should try. As time draws near for Katniss and Peeta to visit the districts on the Capitol's cruel Victory Tour, the stakes are higher than ever. If they can't prove, without a shadow of a doubt, that they are lost in their love for each other, the consequences will be horrifying.(Scholastic Press, 2009)</p>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>

        <div class="participation" id="SC-Hunger3" role="article">
            <h3>MOCKINGJAY</h3>
            <img sizes="(min-width: 530px) 33vw, (min-width: 750px) 25vw, 100vw" src="~/Content/images/Mockingjaycover-x_small.jpg" srcset="~/Content/images/Mockingjaycover-small.jpg 480w, ~/Content/images/Mockingjaycover-x_small.jpg 320w">
            <p>Katniss Everdeen, girl on fire, has survived, even though her home has been destroyed. There are rebels. There are new leaders. A revolution is unfolding.(Scholastic Press, 2010)</p>
        </div>




        <div class="seperate" id="SC-Gregor" role="article">
            <h3>The Underland Chronicles</h3>
        </div>

        <div class="explanation" id="SC-Gregor1" role="article">
            <h3>GREGOR THE OVERLANDER</h3>
            <img sizes="(min-width: 530px) 33vw, (min-width: 750px) 25vw, 100vw" src="~/Content/images/Gregor_1_Cover-x_small.jpg" srcset="~/Content/images/Gregor_1_Cover-small.jpg 480w, ~/Content/images/Gregor_1_Cover-x_small.jpg 320w">
            <p>Meet Gregor, a kid from New York City, who falls out of his laundry room into a fantastical subterranean world called the Underland. Accompanied by his toddler sister, Boots, he encounters giant talking creatures-- cockroaches, bats, spiders and rats--and an unusual society of humans. And they’re all expecting him...(Scholastic Press, 2003)</p>
        </div>

        <div class="participation" id="SC-Gregor2" role="article">
            <h3>GREGOR AND THE PROPHECY OF BANE</h3>
            <img sizes="(min-width: 530px) 33vw, (min-width: 750px) 25vw, 100vw" src="~/Content/images/Gregor_2_Cover-x_small.jpg" srcset="~/Content/images/Gregor_2_Cover-small.jpg 480w, ~/Content/images/Gregor_2_Cover-x_small.jpg 320w">
            <p>When giant roaches kidnap Boots and spirit her back to the Underland, Gregor follows to retrieve her. Soon he discovers that they are both implicated in “The Prophecy of Bane,” which warns of the dangers of a terrifying white rat. Guess whose job it is to destroy it? (Scholastic Press, 2004)</p>
            <br />
            <br />



        </div>
        <div class="participation" id="SC-Gregor3" role="article">
            <h3>GREGOR AND THE CURSE OF THE WARMBLOODS</h3>
            <img sizes="(min-width: 530px) 33vw, (min-width: 750px) 25vw, 100vw" src="~/Content/images/Gregor3_Cover-x_small.jpg" srcset="~/Content/images/Gregor3_Cover-small.jpg 480w, ~/Content/images/Gregor3_Cover-x_small.jpg 320w">
            <p>Gregor and Boots must return to the Underland to help find a cure for a deadly plague called the Curse of the Warmbloods. Gregor is desperate to succeed because, along with several of his Underland friends, a member of his own family is stricken. (Scholastic Press, 2005)</p>
          
           
        </div>

        <div class="explanation" id="SC-Gregor4" role="article">
            <h3>GREGOR AND THE MARKS OF SECRET</h3>
            <img sizes="(min-width: 530px) 33vw, (min-width: 750px) 25vw, 100vw" src="~/Content/images/Gregor_4_Cover-x_small.jpg" srcset="~/Content/images/Gregor_4_Cover-small.jpg 480w, ~/Content/images/Gregor_4_Cover-x_small.jpg 320w">
            <p>Gregor sets out to solve a mystery involving the Underland mice and ends up discovering a terrible secret. This book leads right into the fifth and final book of the series, "Gregor and the Code of Claw."(Scholastic Press, 2006)</p>
            <br />
            <br />
            <br />
            <br />

        </div>

        <div class="explanation" id="SC-Gregor5" role="article">
            <h3>GREGOR AND THE CODE OF CLAW</h3>
            <img sizes="(min-width: 530px) 33vw, (min-width: 750px) 25vw, 100vw" src="~/Content/images/Gregor_5_Cover-x_small.jpg" srcset="~/Content/images/Gregor_5_Cover-small.jpg 480w, ~/Content/images/Gregor_5_Cover-x_small.jpg 320w">
            <p>Everyone in the Underland has been taking great pains to keep The Prophecy of Time from Gregor. Gregor knows it must say something awful but he never imagined just how awful: It calls for the warrior's death. Now, with an army of rats approaching, and his mom and sister still in Regalia, Gregor the warrior must gather up his courage to help defend Regalia and get his family home safely. The entire existence of the Underland is in Gregor's hands, and time is running out. There is a code to be cracked, a mysterious new princess, Gregor's burgeoning dark side, and a war to end all wars.(Scholastic Press, 2007)</p>
        </div>

        <div class="seperate" id="SC-sale" role="article">
            <h3>Book Sale</h3>
        </div>
        <div class="explanation" id="SC-blank" role="article">

            <br />
        </div>
        <div class="requirements" id="SC-requirements" role="article">
            <h3>CURRENTLY ON SALE</h3>
            <p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Genre)
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Genre)
                            </td>
                        </tr>
                    }

                </table>
            </p>
            <p>Check back soon, sales change often!!</p>
        </div>

        <div class="benefits" id="SC-benefits" role="article">
            <h3>Click here to participate in the book sale. </h3>

             @Html.ActionLink("CLICK ME!", "Increment", null, new { @class="imageBtn" })

            @*' <asp:ImageButton ID="IBtn_BookSale" runat="server"
                               ' AlternateText="CLICK ME!"
								 ' ImageAlign="left"
                               ' ImageUrl="images/ccbgryphon-x_small.gif"
						         ' OnClick="IBtn_BookSale_Click" />*@
            <br />

            <p>@ViewBag.Participants</p>
        </div>



    </div>
</div>
