@model IEnumerable<SC_MVC.Models.ContactRequest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.txtName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dteDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.txtEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.txtEmailConfirm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.txtSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.txtMessage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.txtName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dteDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.txtEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.txtEmailConfirm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.txtSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.txtMessage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.intPrimaryKey }) |
            @Html.ActionLink("Details", "Details", new { id=item.intPrimaryKey }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.intPrimaryKey })
        </td>
    </tr>
}

</table>
