@model IEnumerable<SC_MVC.Models.ContactRequest>

@{
    ViewBag.Title = "Manage Contact Requests";
    
}


        
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.txtName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dteDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.txtEmail)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.txtSubject)
                </th>
                
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.txtName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dteDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.txtEmail)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.txtSubject)
                    </td>
                   
                    <td>
                        @Html.ActionLink("View", "Details", new { id = item.intPrimaryKey }) 
                        @Html.ActionLink("Delete", "Delete", new { id = item.intPrimaryKey })
                    </td>
                </tr>
            }

        </table>

